
body{
  margin: 0;
  padding: 0;
}

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* LANDING */

.hidden{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  overflow: hidden;
  transition: all 0s;
  position: fixed;
  pointer-events: none;
  padding: 24px;
}

.visible{
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  height: 70vh;
  width: 90vw;
  transition: all 3s;
  pointer-events: auto;
  padding: 24px;
} 

